<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes List</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/notes.js"></script>

</head>
<body>
<!--<div th:with="userNotes=${session.userNotes}"/>-->
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Notes</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</p></a></li>
              <!--  <li><a th:href ="@{getNotes}" th:onclick="'validateUserNotes(\'' + ${session.userNotes} + '\' );'">My Notes</a></li>-->
                <li><a th:href ="@{getNotes}" th:onclick="'validateUserNotes();'">My Notes</a></li>
                <li><a href="/addNote" align="right" class="addBtn" id="addBtn">Add Note</a></li>
                <li><a th:href ="@{logout}">Logout</a></li>
            </ul>
        </div>
    </nav>

    <br>
<br>
    <div class="container">
        <div class="noteForm">
    <form th:action="@{/addNote}" method="post" th:object="${note}" onsubmit="validateField()">
        <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog"           aria-labelledby="addNoteModalLabel"                   aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNoteModalLabel">Add Notes</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden"  id="noteId" name="id" />
                        </div>
                        <div class="form-group">
                            <label for="noteTitle" class="form-control-label">Title</label>
                            <input type="text" class="form-control" id="noteTitle" name="title" required/>
                        </div>
                        <div class="form-group">
                            <label for="noteDescription" class="form-control-label">Description</label>
                            <input type="text" class="form-control" id="noteDescription" name="description" required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
    </div>
        <p style="color:#78ab46;" align="center">
    <font size="5">
        This is the Home page of user login application
        <br><br>
        You can add Notes if not available.
        <br><br>
        Click on My Notes to display your notes created.
        <br><br>
    </font>
</p>
</body>
<script th:inline="javascript">
/*<![CDATA[*/
    function validateUserNotes(){
    var userNotes = [[${session.userNotes}]];
    if(userNotes=='')
     { event.preventDefault();
       alert("Notes not available, Please add notes");
       return false;
     }
       return true;
    }
    /*]]>*/
</script>
</html>
