<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes List</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/addNote.js"></script>
</head>
<body background="#333333">

<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Notes</a>
            </div>
            <ul class="nav navbar-nav">

                <li class="active"><a href="#">Home</p>
                </a></li>
                <li><a th:href ="@{getNotes}">My Notes</a></li>
                <li><a th:href ="@{addNote}">Add Note</a></li>
                <li><a th:href ="@{logout}">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<br>
<br>

<p style="color:#78ab46;" align="center">
    <font size="5">
        This is the Hompe page of user login application
        <br><br>
        You can add Notes if not available.
        <br><br>
        Click on My Notes to display your notes created.
        <br><br>
    </font>
</p>
</body>
</html>




